body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #4e3a8e, #8f70c5);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    margin: 10px 0;
}

#UI_container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: #383c4a;
    text-align: center;
    width: 300px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    width: 200px;
    color: #000;
    background-color: #fff;
}

.score {
    color: white;
}

.score.best {
    color: lightgreen;
}